<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pedometer_Alarm_Clock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>181F36331D4591C700DA5174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181F36471D4591C700DA5174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181F36521D4591C700DA5174</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
